<div class="container" style="background-repeat: no-repeat; background-image: url('images/landing.png'); height:100%; overflow:auto">
<div class="row" style="padding-top:100px">
<div class="col-md-6 landing-title text-center"><p>XPlor</p><p>Adventure Game</p></div>
<div class="col-md-6">
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1" class="landing-form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1" class="landing-form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Sign up</button>
    </form>
</div>
</div>
</div>